<script>
  import { onMount } from 'svelte';
  import { json } from "d3-fetch";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let data = [];
  let full_service_rest_array = [];
  let hospital_array = [];
  let hotel_array = [];
  let office_array = [];
  onMount(async () => {
    data = await json(`/data/hourly_heating_december.json`);
    for (let i in data) {
      if ((data[i]["city"] == "Baltimore") && (data[i]["buildingtype"] == "FullServiceRestaurant")) {
        full_service_rest_array[i] = data[i]["total_heating_energy"];
      }
      if ((data[i]["city"] == "Baltimore") && (data[i]["buildingtype"] == "Hospital")) {
        hospital_array[i] = data[i]["total_heating_energy"];
      }
      if ((data[i]["city"] == "Baltimore") && (data[i]["buildingtype"] == "LargeHotel")) {
        hotel_array[i] = data[i]["total_heating_energy"];
      }
      if ((data[i]["city"] == "Baltimore") && (data[i]["buildingtype"] == "LargeOffice")) {
        office_array[i] = data[i]["total_heating_energy"];
      }
    }
    console.log(full_service_rest_array);
  });
</script>


<svg viewBox="0 -30 {width} {height+50}">

  <g transform="translate({margin.left},{margin.top+50})">
    {#each full_service_rest_array as i, j}
        <line x1={(j-1)/2} x2={j/2} y1={i / 100} y2={-i / 100} class="ax_line"/>
    {/each}
  </g>

  <g transform="translate({margin.left - 370},{margin.top + 100})">
    {#each hospital_array as i, j}
        <line x1={(j-1)/2} x2={j/2} y1={i / 100} y2={-i / 100} class="ax_line"/>
    {/each}
  </g>

  <g transform="translate({margin.left - 740},{margin.top + 150})">
    {#each hotel_array as i, j}
        <line x1={(j-1)/2} x2={j/2} y1={i / 100} y2={-i / 100} class="ax_line"/>
    {/each}
  </g>

  <g transform="translate({margin.left - 1115},{margin.top + 200})">
    {#each office_array as i, j}
        <line x1={(j-1)/2} x2={j/2} y1={i / 100} y2={-i / 100} class="ax_line"/>
    {/each}
  </g>

  <text x=400 y=61 class="small"> Full service restaurant </text>
  <text x=400 y=111 class="small"> Hospital </text>
  <text x=400 y=161 class="small"> Large Hotel </text>
  <text x=400 y=212 class="small"> Large Office </text>

  <text x=10 y=50 class="small"> 1 dec. </text>
  <text x=357 y=50 class="small"> 31 dec. </text>

  <text x=85 y=0 class="large"> Monthly energy use in Baltimore </text>

</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .ax_line {
    stroke: rgb(0, 0, 0);
    stroke-width: 1;
  }
  .small {
    font: italic 8px sans-serif;
    fill: grey;
  }
  .large {
    font: 20px Brush Script MT;
  }
</style>
