<script>
  import { onMount } from 'svelte';
  import { json } from "d3-fetch";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let max_cooling_chicago = 70000; // These are scale factors
  let max_heating_chicago = 95000;

  let data = [];
  onMount(async () => {
    data = await json(`/data/daily_heating_cooling.json`);
  });


</script>


<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">

    <circle cx={width/2 - 210} cy={height/2} r=80 fill="none" stroke="black"/> 
    <circle cx={width/2} cy={height/2} r=80 fill="none" stroke="black"/> 
    <circle cx={width/2 + 190} cy={height/2} r=80 fill="none" stroke="black"/> 

    <line x1={width/2 - 210 - 80} y1={height/2} x2={width/2-210 + 80} y2={height/2} class="ax_line" />
    <line x1={width/2 - 80} y1={height/2} x2={width/2 + 80} y2={height/2} class="ax_line" />
    <line x1={width/2 + 190 - 80} y1={height/2} x2={width/2+190  + 80} y2={height/2} class="ax_line" />

    <line x1={width/2 - 210} y1={height/2 - 80} x2={width/2-210} y2={height/2 + 80} class="ax_line" />
    <line x1={width/2} y1={height/2 - 80} x2={width/2} y2={height/2 + 80} class="ax_line" />
    <line x1={width/2 + 190} y1={height/2 - 80} x2={width/2+190} y2={height/2 + 80} class="ax_line" />

    <text x={width/2 - 212} y={height/2 - 85} class="small">0</text>
    <text x={width/2 - 2} y={height/2 - 85} class="small">0</text>
    <text x={width/2 + 188} y={height/2 - 85} class="small">0</text>

    <text x={width/2 - 212 + 85} y={height/2 + 2} class="small">3</text>
    <text x={width/2 - 2 + 85} y={height/2 + 2} class="small">3</text>
    <text x={width/2 + 188 + 85} y={height/2 + 2} class="small">3</text>

    <text x={width/2 - 212} y={height/2 + 90} class="small">6</text>
    <text x={width/2 - 2} y={height/2 + 90} class="small">6</text>
    <text x={width/2 + 188} y={height/2 + 90} class="small">6</text> <text x={width/2 - 212 - 85} y={height/2 + 2} class="small">9</text>
    <text x={width/2 - 2 - 85} y={height/2 + 2} class="small">9</text>
    <text x={width/2 + 188 - 85} y={height/2 + 2} class="small">9</text>
    <text x={width/2 - 235} y={height/2 - 100} class="title">Chicago</text>
    <text x={width/2 - 30} y={height/2 - 100} class="title">Baltimore</text>
    <text x={width/2 + 155} y={height/2 - 100} class="title">Los Angeles</text>

    <!-- Chicago -->

    {#each data as i}
      {#if i.city == "Chicago" && i.month == 12 && i.day == 1} <!-- 12 -->
        <circle cx={width/2 - 210 + Math.cos(3.14/2) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-3.14/2) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 1 && i.day == 1} <!-- 1 -->
        <circle cx={width/2 - 210 + Math.cos(3.14/3) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-3.14/3) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 2 && i.day == 1} <!-- 2 -->
        <circle cx={width/2 - 210 + Math.cos(3.14/6) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-3.14/6) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 3 && i.day == 1} <!-- 3 -->
        <circle cx={width/2 - 210 + Math.cos(0) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(0) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 4 && i.day == 1} <!-- 4 -->
        <circle cx={width/2 - 210 + Math.cos(11*3.14/6) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-11*3.14/6) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 5 && i.day == 1} <!-- 5 -->
        <circle cx={width/2 - 210 + Math.cos(5*3.14/3) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-5*3.14/3) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 6 && i.day == 1} <!-- 6 -->
        <circle cx={width/2 - 210 + Math.cos(3*3.14/2) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-3*3.14/2) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 7 && i.day == 1} <!-- 7 -->
        <circle cx={width/2 - 210 + Math.cos(-4*3.14/3) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-4*3.14/3) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 8 && i.day == 1} <!-- 8 -->
        <circle cx={width/2 - 210 + Math.cos(-7*3.14/6) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-7*3.14/6) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 9 && i.day == 1} <!-- 9 -->
        <circle cx={width/2 - 210 + Math.cos(3.14) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(3.14) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 10 && i.day == 1} <!-- 10 -->
        <circle cx={width/2 - 210 + Math.cos(-5*3.14/6) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-5*3.14/6) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 11 && i.day == 1} <!-- 11 -->
        <circle cx={width/2 - 210 + Math.cos(-2*3.14/3) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-2*3.14/3) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
    {/each}

    {#each data as i}
      {#if i.city == "Chicago" && i.month == 12 && i.day == 1} <!-- 12 -->
        <circle cx={width/2 - 210 + Math.cos(3.14/2) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-3.14/2) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 1 && i.day == 1} <!-- 1 -->
        <circle cx={width/2 - 210 + Math.cos(3.14/3) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-3.14/3) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 2 && i.day == 1} <!-- 2 -->
        <circle cx={width/2 - 210 + Math.cos(3.14/6) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-3.14/6) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
        {/if}
      {#if i.city == "Chicago" && i.month == 3 && i.day == 1} <!-- 3 -->
        <circle cx={width/2 - 210 + Math.cos(0) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(0) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 4 && i.day == 1} <!-- 4 -->
        <circle cx={width/2 - 210 + Math.cos(11*3.14/6) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-11*3.14/6) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 5 && i.day == 1} <!-- 5 -->
        <circle cx={width/2 - 210 + Math.cos(5*3.14/3) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-5*3.14/3) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 6 && i.day == 1} <!-- 6 -->
        <circle cx={width/2 - 210 + Math.cos(3*3.14/2) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-3*3.14/2) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 7 && i.day == 1} <!-- 7 -->
        <circle cx={width/2 - 210 + Math.cos(-4*3.14/3) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-4*3.14/3) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 8 && i.day == 1} <!-- 8 --> <circle cx={width/2 - 210 + Math.cos(-7*3.14/6) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-7*3.14/6) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 9 && i.day == 1} <!-- 9 -->
        <circle cx={width/2 - 210 + Math.cos(3.14) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(3.14) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 10 && i.day == 1} <!-- 10 -->
        <circle cx={width/2 - 210 + Math.cos(-5*3.14/6) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-5*3.14/6) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Chicago" && i.month == 11 && i.day == 1} <!-- 11 -->
        <circle cx={width/2 - 210 + Math.cos(-2*3.14/3) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-2*3.14/3) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
    {/each}

    <!-- Baltimore -->

    {#each data as i}
      {#if i.city == "Baltimore" && i.month == 12 && i.day == 1} <!-- 12 -->
        <circle cx={width/2 + Math.cos(3.14/2) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-3.14/2) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if} {#if i.city == "Baltimore" && i.month == 1 && i.day == 1} <!-- 1 -->
        <circle cx={width/2 + Math.cos(3.14/3) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-3.14/3) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 2 && i.day == 1} <!-- 2 -->
        <circle cx={width/2 + Math.cos(3.14/6) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-3.14/6) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 3 && i.day == 1} <!-- 3 -->
        <circle cx={width/2 + Math.cos(0) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(0) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 4 && i.day == 1} <!-- 4 -->
        <circle cx={width/2 + Math.cos(11*3.14/6) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-11*3.14/6) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 5 && i.day == 1} <!-- 5 -->
        <circle cx={width/2 + Math.cos(5*3.14/3) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-5*3.14/3) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 6 && i.day == 1} <!-- 6 -->
        <circle cx={width/2 + Math.cos(3*3.14/2) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-3*3.14/2) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 7 && i.day == 1} <!-- 7 -->
        <circle cx={width/2 + Math.cos(-4*3.14/3) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-4*3.14/3) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/> {/if}
      {#if i.city == "Baltimore" && i.month == 8 && i.day == 1} <!-- 8 -->
        <circle cx={width/2 + Math.cos(-7*3.14/6) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-7*3.14/6) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 9 && i.day == 1} <!-- 9 -->
        <circle cx={width/2 + Math.cos(3.14) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(3.14) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 10 && i.day == 1} <!-- 10 -->
        <circle cx={width/2 + Math.cos(-5*3.14/6) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-5*3.14/6) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 11 && i.day == 1} <!-- 11 -->
        <circle cx={width/2 + Math.cos(-2*3.14/3) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-2*3.14/3) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
    {/each}

    {#each data as i}
      {#if i.city == "Baltimore" && i.month == 12 && i.day == 1} <!-- 12 -->
        <circle cx={width/2 + Math.cos(3.14/2) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-3.14/2) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 1 && i.day == 1} <!-- 1 -->
        <circle cx={width/2 + Math.cos(3.14/3) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-3.14/3) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 2 && i.day == 1} <!-- 2 -->
        <circle cx={width/2 + Math.cos(3.14/6) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-3.14/6) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
        {/if}
      {#if i.city == "Baltimore" && i.month == 3 && i.day == 1} <!-- 3 -->
        <circle cx={width/2 + Math.cos(0) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(0) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 4 && i.day == 1} <!-- 4 -->
        <circle cx={width/2 + Math.cos(11*3.14/6) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-11*3.14/6) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 5 && i.day == 1} <!-- 5 -->
        <circle cx={width/2 + Math.cos(5*3.14/3) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-5*3.14/3) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 6 && i.day == 1} <!-- 6 -->
        <circle cx={width/2 + Math.cos(3*3.14/2) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-3*3.14/2) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 7 && i.day == 1} <!-- 7 -->
        <circle cx={width/2 + Math.cos(-4*3.14/3) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-4*3.14/3) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 8 && i.day == 1} <!-- 8 -->
        <circle cx={width/2 + Math.cos(-7*3.14/6) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-7*3.14/6) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 9 && i.day == 1} <!-- 9 -->
        <circle cx={width/2 + Math.cos(3.14) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(3.14) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 10 && i.day == 1} <!-- 10 -->
        <circle cx={width/2 + Math.cos(-5*3.14/6) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-5*3.14/6) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Baltimore" && i.month == 11 && i.day == 1} <!-- 11 -->
        <circle cx={width/2 + Math.cos(-2*3.14/3) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-2*3.14/3) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
    {/each}
    
    <!-- Los Angeles -->

    {#each data as i}
      {#if i.city == "Los Angeles" && i.month == 12 && i.day == 1} <!-- 12 -->
        <circle cx={width/2 + 190 + Math.cos(3.14/2) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-3.14/2) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if} {#if i.city == "Los Angeles" && i.month == 1 && i.day == 1} <!-- 1 -->
        <circle cx={width/2 + Math.cos(3.14/3) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-3.14/3) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 2 && i.day == 1} <!-- 2 -->
        <circle cx={width/2 + 190 + Math.cos(3.14/6) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-3.14/6) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 3 && i.day == 1} <!-- 3 -->
        <circle cx={width/2 + 190 + Math.cos(0) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(0) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 4 && i.day == 1} <!-- 4 -->
        <circle cx={width/2 + 190 + Math.cos(11*3.14/6) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-11*3.14/6) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 5 && i.day == 1} <!-- 5 -->
        <circle cx={width/2 + 190 + Math.cos(5*3.14/3) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-5*3.14/3) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 6 && i.day == 1} <!-- 6 -->
        <circle cx={width/2 + 190 + Math.cos(3*3.14/2) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-3*3.14/2) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 7 && i.day == 1} <!-- 7 -->
        <circle cx={width/2 + 190 + Math.cos(-4*3.14/3) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-4*3.14/3) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 8 && i.day == 1} <!-- 8 -->
        <circle cx={width/2 + 190 + Math.cos(-7*3.14/6) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-7*3.14/6) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 9 && i.day == 1} <!-- 9 -->
        <circle cx={width/2 + 190 + Math.cos(3.14) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(3.14) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 10 && i.day == 1} <!-- 10 -->
        <circle cx={width/2 + 190 + Math.cos(-5*3.14/6) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-5*3.14/6) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 11 && i.day == 1} <!-- 11 -->
        <circle cx={width/2 + 190 + Math.cos(-2*3.14/3) * i.heating / max_heating_chicago * 80} cy={height/2 + Math.sin(-2*3.14/3) * i.heating / max_heating_chicago * 80} r=1 stroke="red"/>
      {/if}
    {/each}

    {#each data as i}
      {#if i.city == "Los Angeles" && i.month == 12 && i.day == 1} <!-- 12 -->
        <circle cx={width/2 + 190 + Math.cos(3.14/2) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-3.14/2) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 1 && i.day == 1} <!-- 1 -->
        <circle cx={width/2 + 190 + Math.cos(3.14/3) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-3.14/3) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 2 && i.day == 1} <!-- 2 -->
        <circle cx={width/2 + 190 + Math.cos(3.14/6) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-3.14/6) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
        {/if}
      {#if i.city == "Los Angeles" && i.month == 3 && i.day == 1} <!-- 3 -->
        <circle cx={width/2 + 190 + Math.cos(0) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(0) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 4 && i.day == 1} <!-- 4 -->
        <circle cx={width/2 + 190 + Math.cos(11*3.14/6) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-11*3.14/6) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 5 && i.day == 1} <!-- 5 -->
        <circle cx={width/2 + 190 + Math.cos(5*3.14/3) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-5*3.14/3) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 6 && i.day == 1} <!-- 6 -->
        <circle cx={width/2 + 190 + Math.cos(3*3.14/2) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-3*3.14/2) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 7 && i.day == 1} <!-- 7 -->
        <circle cx={width/2 + 190 + Math.cos(-4*3.14/3) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-4*3.14/3) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 8 && i.day == 1} <!-- 8 -->
        <circle cx={width/2 + 190 + Math.cos(-7*3.14/6) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-7*3.14/6) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 9 && i.day == 1} <!-- 9 -->
        <circle cx={width/2 + 190 + Math.cos(3.14) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(3.14) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 10 && i.day == 1} <!-- 10 -->
        <circle cx={width/2 + 190 + Math.cos(-5*3.14/6) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-5*3.14/6) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
      {#if i.city == "Los Angeles" && i.month == 11 && i.day == 1} <!-- 11 -->
        <circle cx={width/2 + 190 + Math.cos(-2*3.14/3) * i.cooling / max_cooling_chicago * 80} cy={height/2 + Math.sin(-2*3.14/3) * i.heating / max_cooling_chicago * 80} r=1 stroke="blue"/>
      {/if}
    {/each}
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .small {
    font: italic 8px sans-serif;
  }
  .title {
    font: 20px Brush Script MT;
  }
  .ax_line {
    stroke: rgb(0, 0, 0);
    stroke-width: 1;
  }
  .cool_line {
    stroke: rgb(0, 0, 250);
    stroke-width: 1;
  }
</style>
