<script>
  let current = "";
</script>

<style>
button {
  display: block;
}

.selected {
  background-color: #349fe6;
  color: white;
}
</style>

<!-- We will cover buttons in week 7! -->
<button class:selected="{current === 'messi'}" class="btn btn-secondary" on:click={() => (current = "messi")}>
  Messi
</button>

<button class:selected="{current === 'ronaldo'}" class="btn btn-secondary" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class:selected="{current === 'neymar'}" class="btn btn-secondary" on:click={() => (current = "neymar")}>
  Neymar
</button>
