<script>
    const my_object = {name: "Sebastiaan Van den Broeck",
                       favourite_things: ["Thing 1", "Thing 2"]};
</script>

<p>My name is {my_object.name} and thse are some of my favourite things:
{my_object.favourite_things} .</p>
