<script>
    const pi = 3.1415;
    function calc_circum(radius) {
        return "The circumference of a circle with radius " + radius +
               "m is " + Math.round(2*pi*radius * 100, 2) / 100 + "."
    }
</script>

<p>{calc_circum(10)}</p>