<script >
  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];
  export let year = 0
  export let continent = "all"
  var play = false;

  setInterval(() => {
    if(play == true) {
      year = year + 1;
    }
  }, 100);

  function reset_interval(){
    year = 0;
    play = false;
  }

  function play_pause() {
    play = !play;
  }

</script>

<div class="row">

  <select bind:value={continent}>
    <option value="all">all</option>
    <option value="europe">europe</option>
    <option value="asia">asia</option>
    <option value="americas">americas</option>
    <option value="africa">africa</option>
  </select>

  <label> 
    <input type="range" max="214" bind:value={year}>
  </label>

  <div>
    {#if play == false}
      <button on:click={play_pause}>Start</button>
    {:else if play == true}
      <button on:click={play_pause}>Stop</button>
    {/if}
    <button on:click={reset_interval}>Reset</button>
  </div>

</div>

