<script>
  var count=0;
  function reset(){
    count = 0;
  };
  function number_of_click() {
    count += 1;
  };
</script>

<button on:click={number_of_click}> Number of clicks: {count} </button>
<button on:click={reset}> reset </button>
