<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;
  let timer = 1;

  // Color
  let color = "darkred";

   setInterval(() => {
     timer=timer+1;
     console.log("Timer: " + timer);
   }, 1000);
       
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">

  <!-- Use the points arrary as x-coordinates of the circle elements and index
       as the index of the left-most light that should be on. -->

    {#each points as x, idx}

      <!-- After all lights have flashed red, turn green -->
      {#if timer > index}
           <circle cx={x} cy=40 r=15 style="fill-opacity:1;fill:green;"></circle>
      <!-- The lights turn red one by one -->
      {:else if timer > idx}
           <circle cx={x} cy=40 r=15 style="fill-opacity:1;fill:darkred;"></circle>
      <!-- In the beginning all lights are dimly lit -->
      {:else}
           <circle cx={x} cy=40 r=15 style="fill-opacity:0.3;fill:darkgreen;"></circle>
      {/if}

    {/each}
  </g>
</svg>

