<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";
  
  let year = 0;
  let continent = "all";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");   
  });

  function extract_data(year, continent) {
    if (continent == "all") {
      return data[year]["countries"]
    }
    else {
      return data[year]["countries"].filter(d => (d.continent == continent))
    }
  }

</script>


{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={extract_data(year,continent)} />
    <Controls data={data} bind:year={year} bind:continent={continent}/>
  </div>
{/if}


