<script>
	import { scaleLinear, scaleOrdinal, scaleLog, scaleSqrt } from "d3-scale";
	import { schemeAccent }from 'd3-scale-chromatic';
	import { extent } from 'd3-array';
	import { axisLeft, axisBottom } from 'd3-axis';
	import { select } from 'd3-selection';

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  export let data;

	// Scales
  const color_cat = extent(data);

	  // Linear scales for x and y
  const scale_x=scaleLinear()
    .domain([300, 4000])
    .range([0, innerWidth]);

  const scale_y=scaleLinear()
  .domain([0, 50])
  .range([innerHeight, 0]);

	  // Categorical scale for categories
  const ordinal=scaleOrdinal()
  .range(schemeAccent)
  .domain(color_cat);

  const radius=scaleSqrt()
  .domain([1000000, 10000000])
  .range([3, 6]);

  function x_axis(i){
     let xaxis=axisBottom(scale_x);
     select(i).call(xaxis);
  }

  function y_axis(i){
    let yaxis=axisLeft(scale_y);
    select(i).call(yaxis);
  }
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
	  {#each data as i}
      {#if i.income  && i.population && i.life_exp}
				<circle r={radius(i.population)} cy={scale_y(i.life_exp)}
						      cx={scale_x(i.income)}
						      style="fill: {ordinal(i.continent)};"/>
      {/if}
    {/each}

			<text x=-180 y=-30 transform="rotate(270)"> Age </text>
			<text x=230 y=320> GDP </text>
      <text x=180  y=0 style="font-size:2em;"> Age and GDP </text>
      <text x=-30 y=-30 transform="rotate(270)"> 1800 </text>
  </g>

  <g transform="translate({margin.left},{margin.top})" use:y_axis></g>
  <g transform="translate({margin.left},{innerHeight+margin.top})" use:x_axis></g>

</svg>
