<script>
  import { axisBottom } from "d3-axis";
  import { select } from "d3-selection";
  import { scaleLog } from "d3-scale";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  // Scale
  const scale = scaleLog();

  const axis_scale=scaleLog()
  axis_scale.domain([1, 10])
  axis_scale.range([0, innerWidth]);
  function scale_function(i) {
    let axis=axisBottom(axis_scale);
    select(i).call(axis);
  }

</script>

<style>
  text {
    font-size: 0.6em;
  }
  circle {
    fill: red;
    r: 1;
  }
</style>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left}, {margin.top})">
    {#each values as i} 
      <circle cx={scale(i)*5} cy={i*5} />
    {/each}
  </g>

  <text transform="translate({margin.right+400},{margin.top+85})"> this is the x-label </text>
  <g transform="translate({margin.left},{margin.top+60})" use:scale_function></g>

</svg>
