<script>

  import { scaleLinear, scaleOrdinal } from 'd3-scale';
  import { schemeAccent } from 'd3-scale-chromatic';
  import { extent } from 'd3-array';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  // Scales
  const color_cat = extent(values);

    // Linear scales for x and y
  const scale_x=scaleLinear()
    .domain([1.9,9.1])
    .range([0,innerWidth]);

  const scale_y=scaleLinear()
    .domain([0,3])
    .range([innerHeight,0]);

    // Categorical scale for categories
  const ordinal=scaleOrdinal()
    .range(schemeAccent)
    .domain(color_cat);

</script>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    
    <!-- Plotting circle -->
    {#each values as i}
      <circle r=10 cy={scale_y(i.y)} cx={scale_x(i.x)} style="fill: {ordinal(i.category)};"/>
      <text class="valuelabel" x={scale_x(i.x)} y={scale_y(i.y)-10}> {i.y} </text> 
      <rect x={scale_x(i.x)} y={scale_y(i.y)} width=1 height={innerHeight-scale_y(i.y)} />
    {/each}

    <!-- Plotting bottom line  -->
    <rect x={scale_x(0)} y={scale_y(0)} width={scale_x(width)} height=1 />

  </g>
</svg>

