<script>
 
  import { scaleBand, scaleLinear} from 'd3-scale';
  import { axisBottom, axisLeft } from 'd3-axis';
  import { select } from 'd3-selection';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

	// Scales
  const map_cat=data.map(d=>d.service)

		// Scales for x and y
  const scale_x=scaleBand()
    .range([0,450])
    .domain(map_cat);

  const scale_y=scaleLinear()
    .domain([0,3])
    .range([innerHeight,0]);

  function y_axis(i) {
    let yaxis=axisLeft(scale_y);
    select(i).call(yaxis);
  }

  function x_axis(i) {
    let xaxis=axisBottom(scale_x);
    select(i).call(xaxis);
  }

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">

  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as i}
      <rect x={scale_x(i.service)} y={scale_y(i.viewers)} width=70
            height={innerHeight-scale_y(i.viewers)} />
    {/each}
  </g>

  <g transform="translate({margin.left},{margin.top+265})" use:x_axis></g>
  <g transform="translate({margin.left-5},{innerHeight-252})" use:y_axis></g>

  <!-- Label the left axis -->
  <text x=-200 y=-30 transform="translate({margin.left}, {margin.right}) rotate(270)" > number of watchers </text>
</svg>

